
body {
  margin: 0;
  font-family: 'HartwellAlt-Bold', sans-serif;
}

.menu-wrapper {
  display: flex;

}

.Menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #29abe2;
}
 .Menu li {
  float: left;
 }

 .Menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
 }

 .Menu li a:hover {
   background-color: #333;
 }

 .Menu .active {
   background-color: #fff;
   color: #29abe2;
 }

 .title-container {
   display: flex;
   flex-direction: column;
   justify-content: center;
 }

 .title {
   display: flex;
   justify-content: center;
 }

@media only screen and (max-width: 400px) {
  .Wrapper {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .all-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 90%
  }
}

@media only screen and (min-width: 961px) {
   .Wrapper {
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
   }

   .all-wrapper {
     display: flex;
     flex-direction: column;
     max-width: 70%;
   }

   .content-container {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
   }

  .projects-container {
    max-width: 48%;
  }

  .experience-container {
    max-width: 48%;
  }
}
